$green: #2E903D;


html, body {
	font-family: 'Lato', sans-serif;
	color: #6a6a6a;
}

a {
	&:hover {
		text-decoration: none;
	}
}

.green-bg {
	background: #D2DED4;
}

.green-btn {
	background: $green;
	color: #fff;
	font-size: 14px;

	&:hover {
		background: $green;
		color: #fff;
	}
}

.alert-danger {
	ul {
		margin: 0;
		padding-left:15px;
		li {

		}
	}
}

.top-bar {
	padding: 25px 0;

	ul {
		text-align: right;
		margin-bottom: 0;

		li {
			display: inline-block;
			margin-left: 20px;

			a {
				color: #6a6a6a;
			}

			span {
				margin-left: 10px;

				img {
					border-radius: 50%;
				}

			}
		}
	}
}

.homepage-bg {
	background: url(../img/bg.png);
	background-size: cover;
	background-position: center center;
	padding: 250px 0;
}


.home-container {
	max-width: 550px;
}

.login-form-home {
	form {
		border-left: 1px solid $green;
		padding-left: 40px;
	}

	input[type="email"],input[type="password"] {
		width: 100%;
		margin-bottom: 15px;
		height: 45px;
		border: 1px solid $green;
		color: $green;
		padding: 10px 15px;
		background: transparent;

		&:focus {
			border: 2px solid $green;
			outline: none;
		}

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: $green
		}

		&::-moz-placeholder { /* Firefox 19+ */
		  color: $green
		}
		
		&:-ms-input-placeholder { /* IE 10+ */
		  color: $green
		}
		
		&:-moz-placeholder { /* Firefox 18- */
		  color: $green
		}
	}

	input[type="submit"]{
		width: 100%;
		height: 45px;
		background: $green;
		text-align: center;
		border: none;
		color: #FFF600;
		margin-bottom: 20px;
	}

	a {
		color: $green;
		display: inline-block;
		text-decoration: underline;

		&.fpwd {
			text-align: right;
			margin-bottom: 20px;
		}

		&.reg-cmp {
			float: right;
		}
	}
}



.error-msg {
	color: #a94442;
	display: block;
	margin-top: 5px;
}

.login-form-ctn {
	padding: 100px 0;
	max-width: 400px;
	margin: 0 auto;
	
	img {
		margin-bottom: 30px;
	}
}

.form-box {
	h4 {
		margin-bottom: 30px;
		color: $green;
		text-transform: uppercase;
	}
	max-width: 400px;
	margin: 0 auto;
	background: #FFFFFF;
	
	box-shadow: 0 2px 4px 0 rgba(180,180,180,0.50);
	border-radius: 5px;
	padding: 20px 30px 30px;

	input {
		height: 45px;
		box-shadow: none;
		border-radius: 3px;
	}

	button {
		width: 100%;
		height: 45px;
		margin-top: 20px;
		background: $green;
		color: #fff;
		border: none;
		margin-bottom: 20px;
	}

	.reg-cmp {
		float: right;
	}

	p {
		margin-top: 20px;
	}
}

.logo-bg {
	background: url(../img/logo-bg.png);
	height: 70px;
	background-size: cover;
	background-position: center center;
}

.logo-img {
	margin-top: -18px;
}

.main-content {
	padding: 60px 0 100px;
}

.side-menu {
	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			background: #F9F9F9;
			border: 1px solid #DFDFDF;
			border-radius: 3px;
			font-weight: 300;
			color: #363636;
			
			margin-bottom: 10px;
			font-size: 14px;
			border-bottom: 3px solid #7B7B7B;

			&.active {
				border: 1px solid $green;
				border-bottom: 3px solid $green;
				font-weight: 700;

				a {
					color: $green;
				}
			}

			a {
				color: #363636;
				padding: 12px 15px;
				display: block;

				&:hover {
					text-decoration: none;
					color:$green;
				}
			}
		}
	}
}


.container-box {
	/* Rectangle Copy 16: */
	background: #FFFFFF;
	border: 1px solid #D8D8D8;
	box-shadow: 0 2px 4px 0 rgba(180,180,180,0.50);
	border-radius: 3px;

	form {
		input[type="text"] {
			border: none; 
			box-shadow: none;
			padding: 50px 30px;
			text-align: center;
			font-size: 24px;

			&:focus {
				box-shadow: none;
			}
		}
	}
}

.membership-table {
	/* Rectangle Copy 16: */
	background: #FFFFFF;
	border: 1px solid #D8D8D8;
	box-shadow: 0 2px 4px 0 rgba(180,180,180,0.50);
	border-radius: 3px;

	.table-title {
		padding: 20px 15px;
		font-size: 16px;
		text-transform: capitalize;
		border-bottom: 1px solid #ccc;
		margin-bottom: 0;

		button {
			background: $green;
			color: #fff;
			margin-top: -6px;
		}

		span {
			float: right;
			display: block;
			padding-right: 20px;
			color: $green;

			a {
				color: $green;
			}
		}
	}
}

.empty-section {
	padding-top: 50px !important;
	padding-bottom: 50px !important;

	img {
		margin-bottom: 20px;
	}

	p {
		margin-bottom: 20px;
	}
}

.green-table-head {
	background: #83E392;

	tr {
		th {
			color: #2E903D !important;
			font-size: 16px;
			font-weight: 400;
		}
	}
}

.activate-profile-form {
	padding: 40px;

	input[type="text"],input[type="password"], select {
		height: 45px;
		box-shadow: none;
		border-radius: 3px;
	}

	.green-btn {
		margin-top: 20px;
	}
}

.green-btn {
	background: $green;
	padding: 12px 20px;
	color: #fff;
	border: none;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

table.members-table>thead>tr>th {
	padding: 15px;
}

table.members-table>tbody>tr>td {
	padding: 15px;
	font-weight: 300;

	a {
		display: inline-block;
		margin-right: 10px;
		color: #363636;
		text-decoration: underline;

		&:hover {
			text-decoration: underline;
		}
	}
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;

  .btn {
	 /* Rectangle 6 Copy 16: */
		background: #F2FFF4;
		border: 1px solid #2E903D;
		border-radius: 2px;
		display: block;
	 
	  padding: 8px 20px;
	  font-size: 14px;
	}
}

.image-placeholder {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin-bottom: 20px;
	background: #ccc;
}

.upload-picture {
	/* Rectangle Copy 15: */
	background: #FFFFFF;
	border: 1px solid #D8D8D8;
	box-shadow: 0 2px 4px 0 rgba(180,180,180,0.50);
	border-radius: 3px;
	padding: 30px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.search-count {
	background: #83E392;
	padding: 15px 15px;

	p {
		margin-bottom: 0;
		font-size: 16px;
		color: #4d4d4d;

	}
}

.search-container {
	padding: 30px 20px;
}

.search-result-box {
	/* Rectangle 6: */
	background: #F8F8F8;
	border: 1px solid #E2E2E2;
	border-radius: 2px;
	padding: 20px;
	margin-bottom: 10px;
}


.search-img {
	width: 12%;
	float: left;
}

.empty-mail {
	padding: 50px 0;
}

.search-text {
	width: 88%;
	float: left;
	padding-left: 20px;

	h4 {
		margin-top: -2px;
		color: #4d4d4d;
		font-weight: 700;
		margin-bottom: 5px;

		i {
			color: $green;
			margin-right: 5px;
		}
	}

	p {
		margin-bottom: 4px;
	}

	textarea {
		margin-bottom: 20px;
		background: #fff;
		border: 1px solid #ccc;
		box-shadow: none;
		padding: 15px;
	}

	input[type="submit"] {
		background: $green;
		color: #fff;
		padding: 10px 15px;
		border-radius: 3px;
		border: none;
	}
}


.tabbed-group {
	width: 100%;
	float: left;
	padding-left: 20px;

	.name-search {
		input[type="text"] {
			margin-bottom: 20px;
			margin-top: 10px;
			padding: 10px 15px;
			box-shadow: none;
			text-align: left;
			font-size: 14px;
			border-radius: 3px;
			border: 1px solid #ccc;
			height: 45px;
		}
	}

	h4 {
		margin-top: -2px;
		color: #4d4d4d;
		font-weight: 700;

		i {
			color: $green;
			margin-right: 5px;
		}
	}

	p {
		margin-bottom: 0;
	}

	textarea {
		margin-bottom: 20px;
		background: #fff;
		border: 1px solid #ccc;
		box-shadow: none;
		padding: 15px;
	}

	input[type="submit"] {
		background: $green;
		color: #fff;
		padding: 10px 15px;
		border-radius: 3px;
		border: none;
	}
}

.search-result-box-reg {
	margin-bottom: 0px;
	padding: 20px 20px 10px;

	.search-text {
		border-bottom: 0.5px solid #979797;
		padding-bottom: 15px;
	}
	
}



.footer {
	background: #2E903D;
	padding: 50px 0;

	h4 {
		color: #fff;
		margin-bottom: 20px;
		font-weight: 700;
	}

	ul {
		padding: 0;
		margin: 0;

		li {
			list-style: none;
			margin-bottom: 10px;
			a {
				color: #fff;
			}
		}
	}
}

.social-media {
	margin-top: 25px;
	a {
		display: inline-block;
		color: #fff;
		margin-right: 10px;
	}
}

.footer-group {
	margin-bottom: 30px;
}

.contact-line {
	border-bottom: 1px solid rgba(255, 255, 255, 0.41);
}

.contact-image {
	float: left; 
	width: 30px;
	margin-top: 7px;
}

.contact-text {
	float: left;
	width: 85%;
	padding-left: 15px;
	padding-bottom: 10px;
	p {
		color: #fff;
		line-height: 1.5;

		span {
			display: block;
		}
	}
}

.mobile-menu {
	display: none;
}

.promote-business {
	background: $green;
	border-radius: 3px;
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 40px;

	h2 {
		color: #fff;
		border-bottom: 1px solid #B8E986;
		padding-bottom: 10px;
		margin-top: 10px;
	}

	p {
		color: #fff;

		&.green-txt {
			color: #B8E986;
			margin-bottom: 0;
		}
	}

	a {
		display: inline-block;
		border: 1px solid #B8E986;
		border-radius: 3px;
		color: #B8E986;
		padding: 10px;
		margin-top: 10px;
	}
}

.tab-group {
	padding: 20px 20px 0;

	h4 {
		margin-bottom: 20px;
	}
}

.tab-links {
	display: block;
	border: 1px solid #c0c0c0;
	text-align: center;
	font-size: 14px;
	background: #f9f9f9;
	border-radius: 3px;
	font-weight: 300;
	padding: 15px;
	border-bottom: 4px solid #c0c0c0;
	color: #c0c0c0;

	&.active {
		border: 1px solid $green;
		border-bottom: 3px solid $green;
		color: $green;
		font-weight: 700;
	}
}

.wizard {
	font-size: 18px;
	color: $green;
	margin-bottom: 40px;

	span {
		font-weight: 700;
	}
}

.section-ctn {
	padding: 25px 30px 0;
}

.section-icon {
	float: left;
	width: 10%;
}

.section-text {
	float: left;
	width: 85%;
	padding-left: 10px;



	p {
		border-bottom: 1px solid #ccc;
		padding-bottom: 15px;
		margin-bottom: 0;

		span {
			display: block;
			margin-bottom: 5px;

			&.certificate {
				font-size: 18px;
				font-weight: 600;
				color: #2d2d2d;
			}

			&.school {
				font-size: 14px;
			}
		}
	}

	&:last-child {
		p {
			margin-bottom: none;
		}
	}
}

.personal-section {
	padding: 25px 30px;

	p.text-label {
		width: 33%;
		float: left;
		font-weight: 600;
		font-size: 16px;
		color: #2d2d2d;
		margin-bottom: 15px;

		span {
			display: block;
			margin-top: 3px;
			font-size: 14px;
			color: #4d4d4d;
			font-weight: 400;
		}
	}
}

.success-page {
	background: #FFFFFF;
	border: 1px solid #D8D8D8;
	box-shadow: 0 2px 4px 0 rgba(180,180,180,0.50);
	border-radius: 3px;
	padding: 80px 0;

	img {
		margin-bottom: 20px;
	}

	p {
		font-size: 18px;
		margin-bottom: 20px;
	}
}



@media screen and (max-width: 960px) {
	.homepage-bg {
		background-position: center center;
	}

}

@media screen and (max-width: 768px) {
	.tab-links {
		margin-bottom: 15px;
	}

	.side-menu {
		padding: 15px;
		// border: 1px solid #ccc;
		// margin-bottom: 40px;
		display: none;
	}

	.mobile-menu {
		padding: 15px;
		display: block;
		font-weight: 700;
		color: $green;
		text-transform: uppercase;
		border-bottom: 1px solid #ccc;
		
		cursor: pointer;
	}

	.all-menu {
		margin-bottom: 30px;
		border: 1px solid #ccc;
	}

	.promote-business {
		display: none;
	}

	.home-container {
		width: 100%;
		max-width: 500px;
		margin: 0 auto;

		img {
			text-align: center;
		}

		form {
			margin-top: 50px;
			border-left: none;
			padding-left: 0;
		}
	}

	.homepage-bg {
		padding: 100px 0;
		background-position: top left;
	}

}



@media screen and (max-width: 480px) {
	.search-result-box {
		padding: 15px;
	}

	.logo-bg {
		background: url(../img/logo-bg.png);
		height: 45px;
		background-size: cover;
		background-position: center center;
	}

	.top-bar {
		padding: 15px 0;
	}

	.message-area {
		.search-img {
			display: none;
		}
	}

	.tabbed-group {
		width: 100%;
		padding-left: 0;
	}

	.name-search input[type="text"] {
		margin-bottom: 20px;
	}

	.login-form-ctn {
		padding: 50px 0 100px;
	}

	.form-box {
		padding: 20px;
	}

	.section-ctn {
		padding: 25px 20px 0;
	}

	.section-text {
		padding-left: 20px;
		width: 90%;
	}

	.personal-section {
		padding: 20px 20px;

		p.text-label {
			width: 100%;
			float: none;
			

		}
	}

}


@media screen and (max-width: 320px) {



}


